<%- include('./partials/head.ejs') %>



  <!--
    - MAIN
  -->

  <main>


    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <%- include('partials/mobile-sidebar.ejs') %>



          <div class="car-box">


            <!--
            - car FEATURED
          -->

            <div class="car-featured">
              <div class="showcase-container">

                <div class="showcase">

                  <div class="showcase-banner">
                    <img src="/images/cars/car.jpeg" alt="car" class="showcase-img">
                  </div>

                  <div class="showcase-content">

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                    </div>

                    <h3 class="showcase-title">
                      <a href="#" class="showcase-title">
                        <%= car.name %>
                      </a>
                    </h3>

                    <a href="/agencies/<%= car.agencyId._id %>" class="showcase-title">
                      <%= car.agencyId.name %>
                    </a>

                    <p class="showcase-desc">
                      <%= car.description %>
                    </p>

                    <p class="showcase-desc">
                      City: <%= car.city %>
                    </p>

                    <p class="showcase-desc">
                      Brand: <%= car.brand %>
                    </p>

                    <p class="showcase-desc">
                      Model: <%= car.model %>
                    </p>

                    <div class="price-box">
                      <p class="price">$<%= car.price %>
                      </p>
                      <del>$<%= car.price +15 %></del>
                    </div>



                    <button class="add-cart-btn" style="display: inline-block;">
                      <ion-icon name="car-sport-outline" style="color: var(--white); font-size: 2em;"></ion-icon>
                    </button>

                  </div>

                </div>

              </div>

            </div>




          </div>
      </div>
    </div>






    <%- include('./partials/tail.ejs') %>