<%- include('./partials/head.ejs') %>




  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="images/banner-1.jpg" alt="The Best car Ever" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">The Best car Ever</h2>

              <p class="banner-text">
                For Only &dollar; <b>20</b>.00 / day
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <%- include('partials/mobile-sidebar.ejs') %>



        <div class="car-box">

          <%- include('partials/cars.ejs') %>
          
          <%- include('partials/featured.ejs') %>
          
          <%- include('partials/minimal.ejs') %>
          
        </div>

      </div>

    </div>






  <%- include('./partials/tail.ejs') %>