<%- include('./partials/head.ejs') %>




  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="images/banner-1.jpg" alt="The Best car Ever" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">The Best car Ever</h2>

              <p class="banner-text">
                For Only &dollar; <b>20</b>.00 / day
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <%- include('partials/mobile-sidebar.ejs') %>



        <div class="car-box">

          <%- include('partials/cars.ejs') %>
          
          <%- include('partials/featured.ejs') %>
          
          <%- include('partials/minimal.ejs') %>
          
        </div>

      </div>

    </div>





    <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

    <div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->

          <div class="testimonial">

            <h2 class="title">testimonial</h2>

            <div class="testimonial-card">

              <img src="images/testimonial-1.jpg" alt="Mr Reviewer" class="testimonial-banner" width="80"
                height="80">

              <p class="testimonial-name">Mr Reviewer</p>

              <p class="testimonial-title">CEO & Founder of World</p>

              <ion-icon name="stats-chart-outline"></ion-icon>

              <p class="testimonial-desc">
                Lorem ipsum dolor sit amet consectetur Lorem ipsum
                dolor dolor sit amet.
              </p>

            </div>

          </div>



          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="images/cta-banner.jpg" alt="Collection Offer" class="cta-banner">

            <a href="#" class="cta-content">

              <h2 class="cta-title">Collection Offer</h2>

              <p class="discount">25% Discount on 5 cars</p>

            </a>

          </div>



          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Our Services</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Worldwide Delivery</h3>
                  <p class="service-desc">For Order Over $100</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Next Day delivery</h3>
                  <p class="service-desc">UK Orders Only</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Best Online Support</h3>
                  <p class="service-desc">Hours: 8AM - 11PM</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Return Policy</h3>
                  <p class="service-desc">Easy & Free Return</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">30% money back</h3>
                  <p class="service-desc">For Order Over $100</p>

                </div>

              </a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - BLOG
    -->

    <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">

            <a href="#">
              <img src="images/blog-1.jpg" alt="car" width="300" class="blog-banner">
            </a>

            <div class="blog-content">

              <a href="/history" class="blog-category">car</a>

              <h3>
                <a href="/car" class="blog-title">How to drive car.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="images/blog-2.jpg" alt="car" class="blog-banner" width="300">
            </a>

            <div class="blog-content">

              <a href="/history" class="blog-category">car</a>

              <h3>
                <a href="/car" class="blog-title">How to drive car.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="images/blog-3.jpg" alt="car" class="blog-banner" width="300">
            </a>

            <div class="blog-content">

              <a href="/history" class="blog-category">car</a>

              <h3>
                <a href="/car" class="blog-title">How to read a car.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="images/blog-4.jpg" alt="car" class="blog-banner" width="300">
            </a>

            <div class="blog-content">
              <a href="/car" class="blog-category">car</a>
              <h3>
                <a href="/car" class="blog-title">How to drive a car.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>


  <%- include('./partials/tail.ejs') %>