<%- include('./partials/head.ejs') %>


    <%- include('./partials/messages.ejs') %>
        <% if(reserves=="no reserves" ) { %>
            <h3 class="showcase-title" style="align-self: center;">
                <a href="/" class="showcase-title" style="width: fit-content; margin: 20px auto;">You need to reserve a
                    car
                    first !</a>
            </h3>
            <% } else { %>
                <!-- multistep form -->
                <div id="msform">

                    <h2 class="fs-title">Reservations</h2>
                    <!-- <h3 class="fs-subtitle"></h3> -->
                    <table style="margin: 0 auto; scale: 0.90;">
                        <thead>
                            <tr>
                                <th>Cover</th>
                                <th>Car Name</th>
                                <th>Agency Name</th>
                                <th>From</th>
                                <th>Until</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let total_prices=0 %>
                                <% reserves.forEach(reserve=> { %>
                                    <% total_prices+=reserve.carPrice %>
                                        <tr>
                                            <td>
                                                <a href="#" class="showcase-img-box">
                                                    <img src="images/cars/car.jpeg" alt="car" class="showcase-img"
                                                        width="70">
                                                </a>
                                            </td>
                                            <td><a href="#">
                                                    <%= reserve.agencyName %>
                                                </a></td>
                                            <td><a href="#">
                                                    <%= reserve.carName %>
                                                </a></td>
                                            <td>
                                                <%= reserve.startDate %>
                                            </td>
                                            <td>
                                                <%= reserve.endDate %>
                                            </td>
                                            <td>
                                                <%= reserve.carPrice %>
                                            </td>
                                            <td>
                                                <a href="/user-delete-reserve/<%=reserve._id%>" class="delete-btn"
                                                    style="--fs-11: 0.875rem; margin-bottom: 15px;">Delete</a>
                                                <a href="/reserves/<%=reserve._id%>" class="delete-btn"
                                                    style="--fs-11: 0.875rem;">Order</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                        </tbody>
                    </table>

                    <div
                        style="margin: 10px auto 0 auto; display: flex; width: fit-content; justify-content: end; align-items: center; border: 1px solid var(--cultured); padding: 0 10px !important;">
                        <span
                            style="margin: 0.15rem 0.5rem 0 0; font-weight: 600; font-size: 0.75em; color: var(--sonic-silver);">Total:
                        </span>
                        <h3 style="margin: 0 auto;">
                            <div class="price-box" style="display: flex;">
                                <p class="price">$<%= total_prices %>
                                </p>
                                <del>$<%= total_prices+15 %></del>
                            </div>
                        </h3>
                    </div>

                </div>
                <% } %>

                    <%- include('./partials/tail.ejs') %>