<%- include('./partials/head.ejs') %>



  <!--
    - MAIN
  -->

  <main>


    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <%- include('partials/mobile-sidebar.ejs') %>



        <div class="car-box">


          <!--
            - car FEATURED
          -->

          <div class="car-featured">
            <% cars.forEach((car, index)=> { %>

            <div class="showcase-container">
              <div class="showcase">

                <div class="showcase-banner">
                  <img src="/images/cars/car.jpeg" alt="car" class="showcase-img">
                </div>

                <div class="showcase-content">

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>

                  <h3 class="showcase-title">
                    <a href="/cars/<%=car._id%>" class="showcase-title"><%= car.name %></a>
                  </h3>

                  <p class="showcase-desc">
                    <%= car.description %>
                  </p>

                  <div class="price-box">
                    <p class="price">$<%= car.price %></p>
                    <del>$<%= car.price+15 %></del>
                  </div>

                  <% if(!user) { %>
                    <button class="add-cart-btn" style="display: inline-block;" disabled>
                      <ion-icon name="car-sport-outline" style="color: var(--white); font-size: 2em;"></ion-icon>
                    </button>
                  <% } else { %> 
                    <button class="add-cart-btn" style="display: inline-block;">
                      <ion-icon name="car-sport-outline" style="color: var(--white); font-size: 2em;"></ion-icon>
                    </button>
                  <% } %>

                </div>

              </div>

            </div>

            <% }) %>
          </div>




        </div>
      </div>
    </div>






  <%- include('./partials/tail.ejs') %>